/***************************************ESTILOS DEL HEADER****************************************/

/*Importamos un estilo de letra de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');


/*Establecemos los estilos base*/
* {
    box-sizing: border-box;
    /*Para que el padding y el border no afecten al ancho y alto de los elementos*/
    margin: 0;
    /*Para que no haya márgenes*/
    padding: 0;
    /*Para que no haya espaciado entre los elementos*/
    font-family: 'Nunito', sans-serif;
    /*Para que el texto tenga una fuente de Google Fonts*/
    font-size: 20px;
    /*Para que el texto tenga un tamaño de 20px*/
}


/*Establecemos el color de fondo*/
body {
    background: #ffffff;
    /*Asignamos un color de fondo*/
}


/*Establecemos los estilos del header*/
.headerxd {
    display: flex;
    /*Para que los elementos se muestren en línea*/
    justify-content: space-between;
    /*Para que los elementos se distribuyan de manera uniforme*/
    align-items: center;
    /*Para que los elementos se centren verticalmente*/
    height: 85px;
    /*Para que el header tenga un alto de 85px*/
    padding: 5px 3%;
    /*Para que el header tenga un espaciado de 5px arriba y abajo y 3% a los lados*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    /*Para que el header tenga una sombra*/
}


/*Establecemos los estilos del logo*/
.headerxd .logoxd {
    cursor: pointer;
    flex: 1;
    /*Para que el logo ocupe el espacio restante*/
    display: flex;
    /*Para que el logo se muestre en línea*/
    justify-content: center;
    /*Para que el logo se centre horizontalmente*/
    align-items: center;
    /*Para que el logo se centre verticalmente*/
    margin-left: 60px;
    /*Para que el logo se separe del borde izquierdo*/
}

.headerxd .logoxd img {
    height: 60px;
    /*Para que el logo tenga un alto de 60px*/
    width: auto;
    /*Para que el ancho se ajuste al alto*/
    transition: all 0.3s;
    /*Para que la transición sea más suave*/
}

.headerxd .logoxd img:hover {
    transform: scale(1.1);
    /*Para que el logo se agrande al pasar el mouse por encima*/
}


/*Establecemos los estilos de la lista de navegación*/
.headerxd .nav-linksxd {
    list-style: none;
    /*Quitar los puntos de tabla*/
}


/*Establecemos los estilos de los elementos de la lista de navegación*/
.headerxd .nav-linksxd li {
    display: inline-block;
    /*Para que los elementos se muestren en línea*/
    padding: 0px 10px;
    /*Para darle un espaciado a los elementos*/
}

.nav.links li {
    display: inline-block;
    /*Para que los elementos se muestren en línea*/
    margin-right: 10px;
    /*Para que los elementos se separen entre sí*/
}


/*Establecemos los estilos de los logos de usuario y carrito*/
.icono-usuario {
    width: 30px;
    /*Para que el icono tenga un ancho de 30px*/
    height: 30px;
    /*Para que el icono tenga un alto de 30px*/
    transition: all 0.3s;
    /*Para que la transición sea más suave*/
}

.icono-carrito {
    width: 30px;
    /*Para que el icono tenga un ancho de 30px*/
    height: 30px;
    /*Para que el icono tenga un alto de 30px*/
    transition: all 0.3s;
    /*Para que la transición sea más suave*/
}

.icono-usuario:hover {
    transform: scale(1.2);
    /*Para que el icono se agrande al pasar el mouse por encima*/
}

.icono-carrito:hover {
    transform: scale(1.2);
    /*Para que el icono se agrande al pasar el mouse por encima*/
}

@media (max-width: 377px) {
    .headerxd .logoxd {
        margin-left: 55px;
        /*Para que el logo esté centrado*/
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
    }
}

@media (max-width: 370px) {
    .headerxd .logoxd {
        margin-left: 50px;
        /*Para que el logo esté centrado*/
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
    }
}

@media (max-width: 366px) {
    .headerxd .logoxd {
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
        margin-left: 55px;
        /*Para que el logo esté centrado*/
    }

    .headerxd .nav-linksxd li {
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
        padding: 1px;
        /*Para darle un espaciado a los elementos*/
    }
}

@media (max-width: 296px) {
    .headerxd .logoxd {
        margin-left: 19px;
        /*Para que el logo esté centrado*/
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
    }
}


@media (max-width: 280px) {
    .headerxd .logoxd {
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
        margin-left: 25px;
        /*Para que el logo esté centrado*/
    }
    .headerxd .nav-linksxd li {
        display: inline-block;
        /*Para que los elementos se muestren en línea*/
        padding: 1px;
        /*Para darle un espaciado a los elementos*/
    }
}


/********************************ESTILOS DE LA BARRA DE NAVEGACIÓN********************************/

/*Agregar estilos de la barra de navegación*/
.secondary-navxd {
    background-color: #002E60;
    /*Asignar un color de fondo a la barra de navegación*/
    width: 93%;
    /*Asignar un ancho a la barra de navegación*/
    margin: 0 auto;
    /*Centrar la barra de navegación*/
    text-align: center;
    /*Alinear el texto al centro*/
    padding: 10px 0;
    /*Agregar un espacio entre el borde y el contenido de la barra de navegación*/
    border-bottom-left-radius: 10px;
    /*Agregar un radio a la esquina inferior izquierda*/
    border-bottom-right-radius: 10px;
    /*Agregar un radio a la esquina inferior derecha*/
    height: 50px;
}


/*Agregar estilos a los enlaces de la barra de navegación*/
.secondary-navxd .nav-linksxd-secondary {
    list-style: none;
    /*Quitar los puntos de la lista*/
}


/*Agregar estilos a los elementos de la barra de navegación*/
.nav-links-secondaryxd li {
    display: inline-block;
    /*Mostrar los elementos en línea*/
    padding: 0px 60px;
    /*Agregar un espacio entre los elementos*/
    transition: all 0.3s;
    /*Agregar una transición a los elementos*/
}

.nav-links-secondaryxd li:hover {
    transform: scale(1.1);
    /*Agregar una escala al pasar el mouse por encima de los elementos*/
}


/*Agregar estilos a los enlaces de los elementos de la barra de navegación*/
.secondary-navxd .nav-links-secondaryxd li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
}

@media (max-width: 860px) {
    .secondary-navxd {
        display: none;
    }
}

@media (max-width: 1450px) {
    .nav-links-secondaryxd li {
        display: inline-block;
        padding: 0px 45px;
    }
}

@media (max-width: 1350px) {
    .nav-links-secondaryxd li {
        display: inline-block;
        padding: 0px 40px;
    }
}

@media (max-width: 1250px) {
    .nav-links-secondaryxd li {
        display: inline-block;
        padding: 0px 30px;
    }
}

@media (max-width: 1150px) {
    .nav-links-secondaryxd li {
        display: inline-block;
        padding: 0px 20px;
    }
}

@media (max-width: 1050px) {
    .nav-links-secondaryxd li {
        display: inline-block;
        padding: 0px 12px;
    }
}




/********************************ESTILOS DEL BOTÓN MENÚ SECUNDARIO********************************/

.menuxd {
    display: none;
    /* Ocultar el botón por defecto */
}

@media (max-width: 850px) {
    .menuxd {
        display: inline-block;
        /* Mostrar el botón */
    }
}

.menuxd img {
    width: 30px;
    /* Establecer el ancho */
    height: 30px;
    /* Establecer el alto */
    transition: all 0.3s;
    /* Agregar una transición */
}

.menuxd button {
    background: none;
    /* Quitar el fondo */
    border: none;
    /* Quitar el borde */
    cursor: pointer;
    /* Cambiar el cursor */
}

.menuxd img:hover {
    transform: scale(1.1);
    /* Agregar una escala al pasar el mouse por encima */
}

.headerxd button {
    background: none;
    /* Quitar el fondo */
    border: none;
    /* Quitar el borde */
}


/************************************ESTILOS DEL MENÚ SECUNDARIO**********************************/

.headerxd a {
    text-decoration: none;
    /* Borramos el que teníamos en .header .nav-links a */
}

/* Estilos del menú desplegable */
.headerxd .overlayxd {
    height: 100%;
    /* 100% de altura */
    width: 0;
    /* 0 de ancho */
    position: fixed;
    /* Fijamos la posición */
    z-index: 1;
    /* Establecemos la posición */
    left: 0;
    /* Posición a la izquierda */
    top: 0;
    /* Posición arriba */
    background-color: rgba(33, 49, 63, 0.879);
    /* Color de fondo */
    overflow: hidden;
    /* Ocultamos lo que se salga del div */
    transition: all 0.3s ease 0s;
    /* Agregamos una transición */
}

.headerxd .overlayxd .overlay-contentxd {
    display: flex;
    /* Mostramos los elementos en línea */
    height: 100%;
    /* 100% de altura */
    flex-direction: column;
    /* Alineamos los elementos en columna */
    align-items: center;
    /* Alineamos al centro */
    justify-content: center;
    /* Justificamos al centro */
}

/* Estilos de los enlaces del menú desplegable */
.headerxd .overlayxd a {
    padding: 15px;
    /* Agregamos un espacio entre los elementos */
    font-size: 30px;
    /* Tamaño de la fuente */
    display: block;
    /* Mostramos los elementos en bloque */
    transition: all 0.3s ease 0s;
    /* Agregamos una transición */
    font-weight: 700;
    /* Grosor de la fuente */
    color: #ffffff;
    /* Color de la fuente */
}

.headerxd .overlayxd a:hover {
    transform: scale(1.1);
    /* Agregamos una escala al pasar el mouse por encima */
}

/* Estilos de los enlaces del menú desplegable al pasar el mouse por encima */
.headerxd .overlayxd a:hover,
.headerxd .overlayxd a:focus {
    color: #002E60;
    /* Color de la fuente */
}

/* Estilos del botón de cerrar */
.headerxd .overlayxd .closexd {
    position: absolute;
    /* Posición absoluta */
    top: 20px;
    /* Posición arriba */
    right: 45px;
    /* Posición a la derecha */
    font-size: 65px;
    /* Tamaño de la fuente */
}

/* Estilos del botón de cerrar al pasar el mouse por encima */
@media screen and (max-height: 450px) {
    .headerxd .overlayxd a {
        font-size: 20px;
        /* Tamaño de la fuente */
    }

    .headerxd .overlayxd .closexd {
        font-size: 40px;
        /* Tamaño de la fuente */
        top: 15px;
        /* Posición arriba */
        right: 35px;
        /* Posición a la derecha */
    }
}