@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*Aplicamos estilos generales para la página*/
* {
    box-sizing: border-box; /*Para que el padding y el border no afecten al ancho y alto del elemento*/
    margin: 0; /*Para que no haya margen entre el borde del elemento y el borde de la página*/
    padding: 0; /*Para que no haya padding entre el borde del elemento y el borde de la página*/
    font-family: 'Nunito', sans-serif; /*Para que el texto se vea con la fuente Nunito*/
}


/*Aplicamos estilos generales para el footer*/
#footer {
    bottom: 0; /*Para que el footer se mantenga en la parte inferior de la página*/
    left: 0; /*Para que el footer se mantenga en la parte inferior de la página*/
    width: 100%; /*Para que el footer ocupe todo el ancho de la página*/
    display: flex; /*Para que los elementos del footer se acomoden en una fila*/
    justify-content: center; /*Para que los elementos del footer se acomoden en el centro de la página*/
    align-items: center; /*Para que los elementos del footer se acomoden en el centro de la página*/
    text-align: center; /*Para que el texto de los elementos del footer se acomoden en el centro de la página*/
    background-color: #002E60; /*Para que el fondo del footer sea de color azul*/
    box-shadow: 0px -5px 5px rgba(118, 118, 118, 0.3);
}


/*Aplicamos estilos generales para los elementos del footer*/
#footer p {
    margin: 0; /*Para que no haya margen entre el borde del elemento y el borde de la página*/
    padding: 15px; /*Para que haya un padding de 20px entre el borde del elemento y el borde de la página*/
    color: white; /*Para que el texto de los elementos del footer sea de color blanco*/
    transition: all 0.3s ease; /*Para que la transición de los elementos del footer sea de 0.3 segundos*/
    font-size: 15.6px;
}


/*Aplicamos estilos para el logo del footer*/
#title {
    margin-left: 5%; /*Para que haya un margen de 5% entre el borde del elemento y el borde de la página*/
    font-weight: bold; /*Para que el texto del elemento sea de color negro*/
    font-size: 18px; /*Tamaño de letra de 20px*/
    transition: all 0.3s ease; /*Para que la transición de los elementos del footer sea de 0.3 segundos*/
}


/*Aplicamo estilos a los componentes del footer*/
#footer_2 { 
    font-weight: bold; /*Para que la letra esté en negritas*/
    font-size: 18px; /*Tamaño de letra de 18px*/
    transition: all 0.3s ease; /*Para que la transición de los elementos del footer sea de 0.3 segundos*/
}

/*Estilos para cuando la pantañña se reduce a 600px*/
@media (max-width: 600px) {
    #footer {
        flex-direction: column; /*El contenido del footer se organiza en columnas*/
        text-align: center; /*El texto se alinea al centro*/
    }
  
    #footer p {
        display: block;
        padding: 10px;
    }
}
