#section-promos {
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}

#section-promos h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: bold;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 35px 0 25px 0;
}


#promos-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.cards {
    border: 1px solid #aeaeae;
    /* Borde de 1 píxel de grosor, sólido y color negro */
    height: 350px;
    width: 270px;
    margin: 1%;
}